@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family: "Roboto", serif;
  --primary: #2349cc;
  --success: #35f338;
  --error: #f00221;
  --white: #ffffff;
  --dark: #000000;
  --gray: #dde0e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* ------------------------------ SIDEBAR CSS ---------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------- */

#sidebar {
  width: 250px !important;
  height: 100vh !important;
  background: var(--white);
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 34px;
  z-index: 1000;
  overflow-y: auto;
}

#sidebar .sidebar-container {
  margin-left: 5px;
}

#sidebar .sidebar-nav {
  list-style: none;
  padding: 0;
  margin-right: 10px;
}

#sidebar .sidebar-nav li {
  margin-bottom: 20px;
}

#sidebar .sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  font-size: 18px;
  font-weight: 600;
  color: var(--dark);
  background: var(--white);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#sidebar .sidebar-link:hover {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

#sidebar .sidebar-link.active {
  background: var(--primary);
  color: var(--white);
  box-shadow: 0 6px 12px rgba(35, 73, 204, 0.4);
}

#sidebar .sidebar-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #e3e6ef;
  margin-right: 15px;
  transition: background-color 0.3s, color 0.3s;
}

#sidebar .sidebar-link:hover .sidebar-icon,
#sidebar .sidebar-link.active .sidebar-icon {
  background: var(--white);
  color: var(--primary);
  transform: none;
  animation: none;
}
